<%= simple_form_for @coordinador, html: { class: 'form-horizontal',:multipart => true } do |f| %>


  <% if @coordinador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coordinador.errors.count, "error") %> prohibited this coordinador from being saved:</h2>

      <ul>
      <% @coordinador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.file_field :image %>
 
    <%= f.label :remote_image_url, "o URL de la imagen" %><br />
    <%= f.input :remote_image_url %>

  <div class="field">
    <%= f.input :nombre %>
  </div>
  <div class="field">
    <%= f.input :apellido %>
  </div>
  <div class="field">
  <%= f.input :cargo %>
</div>
  <div class="field">
    <%= f.input :twitter %>
  </div>
  <div class="field">
    <%= f.input :facebook %>
  </div>
  <div class="field">
    <%= f.input :correo %>
  </div>
  <div class="field">
    <%= f.input :linkd %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
