<p id="notice"><%= notice %></p>

<h1>Listado de  Coordinadores</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Foto</th>
      <th>Cargo</th>
      <th>Twitter</th>
      <th>Facebook</th>
      <th>Correo</th>
      <th>Linkd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coordinadors.each do |coordinador| %>
      <tr>
        <td><%= coordinador.nombre %></td>
        <td><%= coordinador.apellido %></td>
        <td><%= image_tag coordinador.image_url(:thumb) if coordinador.image? %></td>
         <td><%= coordinador.cargo %></td>
        <td><%= coordinador.twitter %></td>
        <td><%= coordinador.facebook %></td>
        <td><%= coordinador.correo %></td>
        <td><%= coordinador.linkd %></td>
        <td><%= link_to 'Mostrar', coordinador %></td>
        <td><%= link_to 'Editar', edit_coordinador_path(coordinador) %></td>
        <td><%= link_to 'Eliminar', coordinador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Coordinador', new_coordinador_path %>
