<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @coordinador.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @coordinador.apellido %>
</p>
<p>
  <strong>Cargo:</strong>
  <%= @coordinador.cargo %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @coordinador.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @coordinador.facebook %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @coordinador.correo %>
</p>

<p>
  <strong>Linkd:</strong>
  <%=  @coordinador.linkd %>
</p>

<p>
  <strong>Foto:</strong>
</p>
<%= image_tag @coordinador.image_url(:medium) if @coordinador.image? %>



<%= link_to 'Editar', edit_coordinador_path(@coordinador) %> |
<%= link_to 'Atrás', coordinadors_path %>
