    <%= render "layouts/slider" %>
    <%= render "layouts/calendario" %>
    <%= render "layouts/ayudas" %>
<div class="dt-sc-hr-invisible"></div>
<div class="dt-sc-margin65"></div>
    <%= render "layouts/noticias" %>
<div class="dt-sc-hr-invisible-small"></div>  
    <%= render "layouts/galeria" %>
    <%= render "layouts/coordinadores"   %>     
    <%= render "layouts/instituciones"   %>     