<p id="notice"><%= notice %></p>

<div >
	<%= params[:gallery_id] %>

<div id="paintings">
  <h2><%= @gallery.nombre %></h2>


    <div class="painting">

       <% if !@gallery.paintings.blank? %>
       	<% for painting in @gallery.paintings %>
    <div class="painting">
      <%= image_tag painting.foto_url(:thumb) if painting.foto? %>
      <div class="name"><%= painting.nombre %></div>
      <div class="actions">
        <%= link_to "Editar", edit_painting_path(painting) %> |
        <%= link_to "Eliminar", painting, method: :delete, data: { confirm: '¿Estas Seguro?' } %>
      </div>
      <br/>
    </div>
  <% end %>
  <% end %>
  <div class="clear"></div>
</div>

<p>
  <%= link_to "Agregar una Imagen", new_painting_path(:gallery_id => @gallery) %> |
  <%= link_to "Eliminar Galeria", @gallery, :confirm => '¿Estas Seguro?', :method => :delete %> |
  <%= link_to "Mostar Galerias", galleries_path %>
</p>

</div>
