<!-- **Full-width-section - Starts** -->
<div class="full-width-section grey">
 <div class="dt-sc-margin30"></div>
               <div class="container">
<h2 class="aligncenter">Noticias Recientes</h2>
<p class="middle-align">Accede a las noticias más recientes de la fundación y mantente actualizado de la actividades que programamos para ti. </p>
<div class="dt-sc-hr-invisible-small"></div> <% @i=0 %>
 <% if !@noticia.blank? %>
   <% for item in @noticia %>
   <% @i=@i+1 %>
<div class="column dt-sc-one-third <% if (@i==1) %> <%= 'first' %> <% end -%> ">
   <!-- **Blog-post - Starts** --> <%#= @i %>
   <article class="blog-post">
     <!-- **entry-meta - Starts** -->
       <div class="entry-meta">
           <div class="date">
               <p><span><%= item.created_at.strftime("%d")%></span><br/><%= item.created_at.strftime("%B")%></p>
           </div>
           <div class="post-comments">
               <a href="#"><span class="fa fa-comment"></span>12</a>
           </div>
       </div> <!-- **entry-meta - Ends** -->
       <!-- **entry-thumb - Starts** -->
       <div class="entry-thumb">
            <%= link_to single_noticia_path(item.id) do %> <%= image_tag item.foto_url(:medium) if item.foto? %><% end %>
       </div> <!-- **entry-thumb - Ends** -->
       <!-- **entry-detail - Starts** -->
       <div class="entry-detail">
         <div class="entry-title">
             <h4><%= link_to single_noticia_path(item.id) do %><%= item.titulo %><% end %></h4>
           </div>
           <div class="entry-body">
             <p><%= truncate(item.mensaje, :length => 250, :omission => "", :escape =>false) %>...<%= link_to "ver mas", single_noticia_path(item.id) %></p>
           </div>
       </div> <!-- **entry-detail - Ends** -->
   </article><!-- **Blog-post - Ends** -->
</div>


    <% end %>
   <% else %>

   <% end %>
   <div class="dt-sc-margin30"></div>
   </div>
           </div><!-- **Full-width-section - Ends** -->
