<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="es-VE" class="no-js"> <!--<![endif]-->

<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />-->

<head>
    <title>.::Fundación Social - Nueva Esparta::.</title>
  <%= csrf_meta_tags %>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

 <%= stylesheet_link_tag 'style.css' %>
 <%= stylesheet_link_tag 'shortcodes.css' %>
 <%= stylesheet_link_tag 'layerslider.css' %>
 <%= stylesheet_link_tag 'responsive.css' %>
 <%= stylesheet_link_tag 'meanmenu.css' %>
 <%= stylesheet_link_tag 'prettyPhoto.css' %>
 <%= stylesheet_link_tag 'animations.css' %>
 <%= stylesheet_link_tag 'font-awesome.min.css' %>
 <%= stylesheet_link_tag 'skyblue/style.css'%>
 <%= stylesheet_link_tag 'font.css'%>
</head>


<body>
<!-- **Wrapper** -->
<div class="wrapper">
    <div class="inner-wrapper">

        <!-- **Top Bar** -->
        <div class="top-bar">
            <div class="container">

                <ul class="top-menu">
                    <li> <i class="fa fa-phone"></i>  Alguna consulta? Llamanos: <span> 0295-2424168</span></li>
                    <li> <i class="fa fa-envelope"></i>  Correo: <a href="#" title="Design Themes"> atencion.funsone@gmail.com </a></li>
                </ul>

                <div class="top-right">
                <%= image_tag "banner_pueblo.png"%>
                    <!--<span>Socializa con nosotros</span>
                    <ul class="dt-sc-social-icons">
                        <li> <a href="#" title="facebook"> <i class="fa fa-facebook"></i>  </a> </li>
                        <li> <a href="#" title="twitter"> <i class="fa fa-twitter"></i>  </a> </li>
                        <li> <a href="#" title="google-plus"> <i class="fa fa-google-plus"></i>  </a> </li>
                        <li> <a href="#" title="skype"> <i class="fa fa-skype"></i>  </a> </li>
                        <li> <a href="#" title="youtube"> <i class="fa fa-youtube"></i>  </a> </li>
                    </ul><-->
                </div>

            </div>
        </div><!-- **Top Bar - End** -->

        <div id="header-wrapper">
            <!-- **Header** -->
            <header class="header">
                <div class="container">

                    <!-- **Logo - End** -->
                    <div id="logo">
                        <a href="index.html" title="Priority"> <%= image_tag "logo1.png" %> </a>
                    </div><!-- **Logo - End** -->


                            <%= render "layouts/menu" %>



                </div>
            </header><!-- **Header - End** -->
        </div>

        <!-- **Main - Starts** -->
        <div id="main">
        <%=yield %>
        </div> <!-- **Main - Ends** -->
                <%= render "layouts/footer"   %>


    </div><!-- **inner-wrapper - End** -->

</div><!-- **Wrapper - End** -->
<%= javascript_include_tag 'application' %>
    <!-- **jQuery** -->
    <%#= javascript_include_tag 'jquery-1.10.2.min.js','jquery-migrate.min.js','preloader.js','pace.min.js' ,'jquery.tabs.min.js','jquery.tipTip.minified.js','jquery-easing-1.3.js' ,'jquery.parallax-1.1.3.js','jquery.inview.js' ,'jquery.viewport.js','jquery.nav.js','layerslider.transitions.js','layerslider.kreaturamedia.jquery.js','greensock.js' %>


    <script data-cfasync="false" type="text/javascript">var lsjQuery = jQuery;</script><script data-cfasync="false" type="text/javascript"> lsjQuery(document).ready(function() { if(typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_9','jquery'); } else { lsjQuery("#layerslider_9").layerSlider({responsiveUnder: 1240, layersContainer: 1170, startInViewport: false, pauseOnHover: false, forceLoopNum: false, autoPlayVideos: false, skinsPath: 'assets/layerslider/skins/'}) } }); </script>


   <%#= javascript_include_tag 'jquery.jcarousel.min.js' , 'jquery.carouFredSel-6.2.1-packed.js' , 'jquery.isotope.min.js', 'jquery.prettyPhoto.js', 'masonry.pkgd.min.js' , 'responsive-nav.js' , 'jquery.meanmenu.min.js' , 'jquery.tipTip.minified.js' %>



    <!-- **Sticky Nav** -->
    <%#= javascript_include_tag 'jquery.sticky.js','jquery.ui.totop.min.js','twitter/jquery.tweet.min.js','jquery.validate.min.js','custom.js' %>

    <!-- **To Top** -->


</body>
</html>
